<!DOCTYPE html>
<html>
<head>
    <title> Template Page </title>
</HEAD>
<body>
    <div id="root">
        <p>Y a rien pour le moment</p>

        <input type="text" id="input" v-model="message">
        <p>Votre message est {{message}}</p>

        <br>

        <p>Liste des professeur</p>
        <ul>
            <li v-for="name in professeurs">{{name}}</li>
        </ul>
        <p>Ajouter un professeur</p>
        <input type="text" id="addProfesseurName" v-model="newProfesseurName">
        <button @click="addProfesseur">Ajouter</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="000_template.js"></script>
</body>
</html>

