<!DOCTYPE html>
<html>
<head>
<title> PokeAPI </title>
</HEAD>
<BODY>
    <div id="totoro">
        <h1>{{pokemon.name}}</h1>

        <p v-for="stat in pokemon.stats" class="statList">{{stat[0]}} : {{stat[1]}}</p>

        <br><br>

        <input type="text" id="searchPokemon" v-model="searchPokemon">
        <button @click="searchPokemonButton">Recherche</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="030_axios.js"></script>
    
</BODY>
</HTML>

