<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="testComponant">
        <compteur></compteur>

        <br>

        <ol>
            <afaire-item v-for="matiere in listeSlam" v-bind:liste="matiere" v-bind:key="matiere.id"></afaire-item>
        </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="050_IntroComposant.js"></script>
</body>
</html>